html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


// Flexbox
.flex {
    display: flex;
  
    &-jc-sb {
      justify-content: space-between;
    }
    
    &-jc-c {
      justify-content: center;
    }

    &-jc-fe {
      justify-content: flex-end;
    }
    
    &-ai-c {
      align-items: center;
    }
}


// Hides
.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}
  
.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}

.hide-border-right {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right-color: transparent!important;
}

.hide-border-left {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left-color: transparent!important;
}