// Flexbox
.flex {
    display: flex;
  
    &-jc-sb {
      justify-content: space-between;
    }
    
    &-jc-c {
      justify-content: center;
    }

    &-jc-fe {
      justify-content: flex-end;
    }
    
    &-ai-c {
      align-items: center;
    }
}


.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}
  
.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}