$light-grey: #e0e1e2;

$xl-lateral-space: 12.5em;
$medium-lateral-space: 6.25em;

$separation: 1.25em;

$shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);