$light-grey: #e0e1e2;
$medium-grey: #ccc;
$dark-grey: #666;
$almost-black: #222;
$red: red;

$xl-lateral-space: 12.5rem;
$medium-lateral-space: 6.25rem;

$separation: 1.25rem;
$big-separation: 2rem;

$_1px: .0625rem;
$_3px: .1875rem;

$shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);

$border-radius: 3px;

$primary-color: pink;
$active-color: red;