$min-space: 0.5em;

header {
    background-color: white;
    border-bottom: 1px solid $primary-color;
    height: 4em;
    left: 0;
    padding: $min-space;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    .logo {
        margin-right: $separation;
    }

    & * {
        z-index: 2;
    }
}

// Shadow Transition

header::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Create the box shadow at expanded size. */
    box-shadow: $shadow;

    /* Hidden by default. */
    opacity: 0;
    transition: opacity 300ms;
}

header:not([data-scroll='0'])::before {
    opacity: 1;
}

// Media queries

@include breakpoint-up(medium){
    header {
        padding: $min-space $medium-lateral-space;
    }
}

@include breakpoint-up(xlarge){
    header {
        padding: $min-space $xl-lateral-space;
    }
}
